# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space
# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

###############################
# .NET Coding Conventions     #
###############################

[*.cs]
# Expression-bodied members
csharp_style_expression_bodied_methods = true:none

###############################
# C# Formatting Rules         #
###############################

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = true:none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
