name: ✅SDK Status Check
run-name: ✅SDK Status Check (${{ github.base_ref }} branch)


defaults:
  run:
    shell: pwsh


on:
  pull_request_target:
    branches: [main, preview]


jobs:
  sdk_status_check:
    name: ${{ vars.PROJECT_NAME }} SDK Status Check
    uses: KinsonDigital/Infrastructure/.github/workflows/validate-sdk-setup.yml@v13.6.1
    with:
      repo-name: "${{ vars.PROJECT_NAME }}"
      checkout-repository: ${{ github.event.pull_request.head.repo.full_name }}
      checkout-ref: ${{ github.event.pull_request.head.ref }}
    secrets:
      cicd-pat: ${{ secrets.CICD_TOKEN }}
