name: Triage Issue
on:
  issues:
    types:
      - reopened
      - opened
jobs:
  label_issues:
    runs-on: windows-latest
    permissions:
      issues: write
    steps:
      - name: Label issues
        uses: andymckay/labeler@1.0.3
        with:
          add-labels: "triage"
          ignore-if-assigned: true
          ignore-if-labeled: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
